{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
            <div>
                {% if status == 'success' %}
                    <div role="alert">
                      The link has been sent to your email!
                    </div>
                {% endif %}

                {% if status == 'failed' %}
                    <div role="alert">
                      Something went wrong!
                    </div>
                {% endif %}

                <form name="forgot_password" method="POST" novalidate class="password-form">
                    <h2>Forgotten password</h2>
                    {% csrf_token %}
                    {% for field in form %}
                    <div>
                        {{ field.label_tag }} {{ field }}
                        <div>
                            {{ field.errors }}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit">Send</button>
                </form>
            </div>
{% endblock %}