{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
            <div>
                {% if status == 'success' %}
                    <div>
                      Your password is reset successfully!
                    </div>
                {% endif %}

                {% if status == 'failed' %}
                    <div role="alert">
                      Something went wrong!
                    </div>
                {% endif %}

                {% if message|length > 0 %}
                    <div role="alert">
                      {{ message }}
                    </div>
                {% endif %}

                <form name="reset_password" method="POST" novalidate class="password-form">
                    <h2>Сброс пароля</h2>
                    {% csrf_token %}
                    {% for field in form %}
                    <div>
                        {{ field.label_tag }} {{ field }}
                        <div>
                            {{ field.errors }}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit">Submit</button>
                </form>
            </div>
{% endblock %}