<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HTML Email Template</title>
    <meta name="viewport" content="width=375, initial-scale=-1">
  </head>
  <body>
    <center>
      <table>
          <tr>
            <td >
               <p>Hello,<br><br> We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.
              </p>
              <p>
                <a target="_blank">
                  <strong>Reset Password</strong>
                </a>
              </p>
              <p>
              Sincerely,<br>The Django Backend Team
              </p>
            </td>
          </tr>
      </table>
    </center>
  </body>
</html>