{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
            <div>
                <form method="POST" enctype="multipart/form-data" class="settings-form">
                    {% csrf_token %}
                    <div>
                        <label for="id_avatar">
                            <div id="image-wrapper">
                                {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}" id="image-content"/>
                                {% endif %}
                            </div>
                            <input id="id_avatar" class="file-profile" type="file" name="avatar" accept="image/*"/>
                        </label>
                        <div>
                            {{ form.avatar.errors }}
                        </div>
                    </div>
                    <div>
                        {{ form.bio.label_tag }} {{ form.bio }}
                        <div>
                            {{ form.bio.errors }}
                        </div>
                    </div>
                    <div>
                        <label for="id_resume">Upload your resume here:</label>
                        <input name="resume" class="file-profile" type="file" id="id_resume" accept="application/pdf,application/vnd.ms-excel">
                        {{ form.resume.errors }}
                        {% if profile.resume %}
                        <a href="{{ profile.resume.url }}" target="_blank">Download</a>
                        {% endif %}
                    </div>
                    <button type="submit">Edit</button>
                </form>
            </div>
{% endblock %}